fos_user:
    db_driver: orm
    firewall_name: login
    user_class: App\Entity\User
    from_email:
        address: '%env(MAILER_USER)%'
        sender_name: '%env(MAILER_USER)%'
    registration:
        form:
            type: App\Form\UserType