<mat-card fxFlex.gt-sm="40" fxFlex.sm="100" fxFlexOffset.gt-sm="30" fxLayout="column" fxLayoutGap="16px">
<!--    <mat-card-header>-->
        <mat-card-title>
            {{ 'register' | translate | capitalizeFirst }}
        </mat-card-title>
<!--    </mat-card-header>-->
    <mat-card-content>
        <form [formGroup]="registrationForm" (ngSubmit)="register()" fxLayout="column" fxLayoutAlign="none">
            <mat-form-field appearance="outline">
                <mat-label>{{ 'email' | translate | capitalizeFirst }}</mat-label>
                <input matInput placeholder="{{ 'email' | translate | capitalizeFirst }}" formControlName="email" required>
                <mat-error *ngIf="registrationForm.get('email').hasError('required')">
                    {{ 'validation.required' | translate | capitalizeFirst }}
                </mat-error>
                <mat-error *ngIf="registrationForm.get('email').hasError('validation.unique')">
                    {{ 'validation.unique' | translate | capitalizeFirst }}
                </mat-error>
                <mat-error *ngIf="registrationForm.get('email').hasError('validation.max_length')">
                    {{ 'validation.max_length' | translate | capitalizeFirst }}
                </mat-error>
                <mat-error *ngIf="registrationForm.get('email').hasError('validation.regex.email')">
                    {{ 'validation.regex.email' | translate | capitalizeFirst }}
                </mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>{{ 'username' | translate | capitalizeFirst }}</mat-label>
                <input matInput placeholder="{{ 'username' | translate | capitalizeFirst }}" formControlName="username" required>
                <mat-error *ngIf="registrationForm.get('username').hasError('required')">
                    {{ 'validation.required' | translate | capitalizeFirst }}
                </mat-error>
                <mat-error *ngIf="registrationForm.get('username').hasError('validation.unique')">
                    {{ 'validation.unique' | translate | capitalizeFirst }}
                </mat-error>
                <mat-error *ngIf="registrationForm.get('username').hasError('validation.min_length')">
                    {{ 'validation.min_length' | translate | capitalizeFirst }}
                </mat-error>
                <mat-error *ngIf="registrationForm.get('username').hasError('validation.max_length')">
                    {{ 'validation.max_length' | translate | capitalizeFirst }}
                </mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>{{ 'password' | translate | capitalizeFirst }}</mat-label>
                <input matInput placeholder="{{ 'password' | translate | capitalizeFirst }}" formControlName="first" required>
                <mat-error *ngIf="registrationForm.get('first').hasError('required')">
                    {{ 'validation.required' | translate | capitalizeFirst }}
                </mat-error>
                <mat-error *ngIf="registrationForm.get('first').hasError('validation.min_length')">
                    {{ 'validation.min_length' | translate | capitalizeFirst }}
                </mat-error>
                <mat-error *ngIf="registrationForm.get('first').hasError('validation.password.mismatch')">
                    {{ 'validation.password.mismatch' | translate | capitalizeFirst }}
                </mat-error>
            </mat-form-field> 
            <mat-form-field appearance="outline">
                <mat-label>{{ 'confirmPassword' | translate | capitalizeFirst }}</mat-label>
                <input matInput placeholder="{{ 'confirmPassword' | translate | capitalizeFirst }}" formControlName="confirmPassword" required>
                <mat-error *ngIf="registrationForm.get('confirmPassword').hasError('required')">
                    {{ 'validation.required' | translate | capitalizeFirst }}
                </mat-error>
                <mat-error *ngIf="registrationForm.get('confirmPassword').hasError('validation.min_length')">
                    {{ 'validation.min_length' | translate | capitalizeFirst }}
                </mat-error>
            </mat-form-field>
            <div fxLayout="row">
                <button mat-flat-button color="primary" type="submit" [disabled]="!registrationForm.valid">
                    {{ 'register' | translate | capitalizeFirst }}
                </button>
                <span class="fill-space"></span>
                <button mat-flat-button type="button" (click)="cancel()">
                    {{ 'cancel' | translate | capitalizeFirst }}
                </button>
            </div>
        </form>
    </mat-card-content>
</mat-card>
