<mat-dialog-content>
    <mat-card>
        <mat-card-title>{{ 'add' | translate | capitalizeFirst }}</mat-card-title>
        <mat-card-content>
            <form [formGroup]="traitForm" (ngSubmit)="addTrait()" fxLayout="column" fxLayoutGap="16px">
                <mat-form-field *ngFor="let form_elem of formTemplate" appearance="outline" fxFlex="100">
                    <mat-label>{{ form_elem.label | translate | capitalizeFirst }}</mat-label>
                    <input *ngIf="form_elem.type === 'input'" 
                        matInput placeholder="{{ form_elem.label | translate | capitalizeFirst }}" 
                        formControlName="{{form_elem.name}}" 
                        required>
                    <wa-mat-quill theme="snow" 
                        *ngIf="form_elem.type === 'textarea'" 
                        matInput placeholder="{{ form_elem.label | translate | capitalizeFirst }}" 
                        formControlName="{{form_elem.name}}">
                    </wa-mat-quill>
                    <mat-error *ngFor="let error of form_elem.errors">
                        <span *ngIf="traitForm.get(form_elem.name).hasError(error)">
                            {{ error | translate | capitalizeFirst }}
                        </span>
                    </mat-error>
                </mat-form-field>
                <div fxLayout="row">
                    <button mat-stroked-button type="submit" color="primary" type="submit" [disabled]="!traitForm.valid">
                        {{ 'confirm' | translate | capitalizeFirst }}
                    </button>
                    <span class="fill-space"></span>
                    <button mat-stroked-button type="button" color="warn" (click)="cancel()" cdkFocusInitial>
                        {{ 'cancel' | translate | capitalizeFirst }}
                    </button>
                </div>
            </form>
        </mat-card-content>
    </mat-card>
</mat-dialog-content>
