<mat-sidenav-container *ngIf="isLoggedIn">
    <mat-sidenav class="dark-toolbar" #sidenav [mode]="isLargeScreen() ? 'side' : 'over'" [opened]="isLargeScreen()">
        <mat-toolbar class="dark-toolbar">
            Simple REST API
        </mat-toolbar>
        <mat-nav-list>
            <app-navigation *ngFor="let item of navItems" [item]="item">
            </app-navigation>           
        </mat-nav-list>       
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar class="dark-toolbar">
            <button mat-button (click)="sidenav.toggle()">
                <mat-icon *ngIf="sidenav.opened">menu_open</mat-icon>
                <mat-icon *ngIf="!sidenav.opened">menu</mat-icon>
            </button>
            <span class="fill-space"></span>
<!--            <button mat-button>Session expires in: 
                <app-session-tracker></app-session-tracker>
            </button>-->
            <button mat-icon-button (click)="useLanguage('en')">en</button>
            <button mat-icon-button (click)="useLanguage('pl')">pl</button>            
            <button mat-icon-button [matMenuTriggerFor]="userMenu">
                <mat-icon>person_outline</mat-icon>
            </button>
            <mat-menu #userMenu="matMenu">
                <button mat-menu-item routerLink="/admin/profile" routerLinkActive="active">
                    <mat-icon>person_outline</mat-icon>
                    <span>Profile</span>
                </button>
                <button mat-menu-item routerLink="/logout" routerLinkActive="active">
                    <mat-icon>exit_to_app</mat-icon>
                    <span>Logout</span>
                </button>
            </mat-menu>           
        </mat-toolbar>
        <main>
            <app-loader></app-loader>
            <ng-container *ngTemplateOutlet="template"></ng-container>
        </main>
    </mat-sidenav-content>   
</mat-sidenav-container>

<div fxLayout="column" *ngIf="!isLoggedIn">
    <mat-toolbar>
        <a mat-button routerLink="/about" routerLinkActive="active">About</a>
        <a mat-button routerLink="/contact" routerLinkActive="active">Contact</a>
        <span class="fill-space"></span>                
        <a mat-button routerLink="/login" routerLinkActive="active">
            {{ 'ui.login' }}
        </a>
        <a mat-button routerLink="/register" routerLinkActive="active">
            {{ 'ui.register' }}
        </a>
        <button mat-icon-button (click)="useLanguage('en')">en</button>
        <button mat-icon-button (click)="useLanguage('pl')">pl</button>
    </mat-toolbar>
    <main>
        <app-loader></app-loader>
        <ng-container *ngTemplateOutlet="template"></ng-container>
    </main>
</div>

<ng-template #template>
    <router-outlet></router-outlet>
</ng-template>