<mat-card fxFlex.gt-sm="40" fxFlex.sm="100" fxFlexOffset.gt-sm="30" fxLayout="column" fxLayoutGap="16px">
    <mat-card-title>
        {{ 'category.new' | translate | capitalizeFirst }}
    </mat-card-title>
    <mat-card-content>
        <form [formGroup]="categoryForm" (ngSubmit)="addCategory()" fxLayout="column" fxLayoutAlign="none">
            <mat-form-field appearance="outline">
                <mat-label>{{ 'name' | translate | capitalizeFirst }}</mat-label>
                <input matInput placeholder="{{ 'name' | translate | capitalizeFirst }}" formControlName="name" required>
                <mat-error *ngIf="categoryForm.get('name').hasError('required')">
                    {{ 'validation.required' | translate | capitalizeFirst }}
                </mat-error>
                <mat-error *ngIf="categoryForm.get('name').hasError('validation.unique')">
                    {{ 'validation.unique' | translate | capitalizeFirst }}
                </mat-error>
            </mat-form-field>
            <div fxLayout="row">
                <button mat-flat-button color="primary" type="submit" [disabled]="!categoryForm.valid">
                    {{ 'add' | translate | capitalizeFirst }}
                </button>
                <span class="fill-space"></span>
                <button mat-flat-button type="button" (click)="cancel()">
                    {{ 'cancel' | translate | capitalizeFirst }}
                </button>
            </div>
        </form>
    </mat-card-content>
</mat-card>
