<mat-card>
    <mat-card-header>
        <mat-card-title fxLayout="row" fxLayoutGap="16px" fxLayoutAlign=" center">
            <span>{{ 'category' | translate | capitalizeFirst }}</span>
            <button mat-flat-button color="primary" (click)="add()">New</button>
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div class="actions-toolbar">
            <form [formGroup]="filterForm" (ngSubmit)="applyFilter()" fxLayout.gt-md="row" fxLayout.lt-lg="column" fxLayoutAlign="start center" fxLayoutGap="16px">
                <mat-form-field appearance="standard">
                    <mat-label>{{ 'filter.name' | translate | capitalizeFirst }}</mat-label>
                    <input matInput formControlName="name" placeholder="{{ 'filter.name' | translate | capitalizeFirst }}">
                </mat-form-field>
                <div fxLayout="row" fxLayoutGap="16px">
                    <button mat-stroked-button type="submit" color="primary">
                        {{ 'filter' | translate | capitalizeFirst }}
                    </button>
                    <button mat-stroked-button type="button" color="accent" (click)=resetFilter()>
                        {{ 'filter.clear' | translate | capitalizeFirst }}
                    </button>
                </div>
            </form>
        </div>
        <table mat-table multiTemplateDataRows [dataSource]="data" matSort matSortActive="name" matSortDisableClear matSortDirection="desc" class="table-responsive">
            <ng-container matColumnDef="select" sticky>
                <th mat-header-cell *matHeaderCellDef>
                    <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()" [indeterminate]="selection.hasValue() && !isAllSelected()">
                    </mat-checkbox>
                </th>
                <td mat-cell *matCellDef="let row">
                    <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)"></mat-checkbox>
                </td>
            </ng-container>
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef>
                    {{ 'name' | translate | capitalizeFirst }}
                </th>
                <td mat-cell *matCellDef="let row">{{ row.name }}</td>
            </ng-container>
            <ng-container matColumnDef="dateCreated">
                <th mat-header-cell *matHeaderCellDef>
                    {{ 'date.created' | translate | capitalizeFirst }}
                </th>
                <td mat-cell *matCellDef="let row">{{ row.date_created | date: 'dd-MM-yyyy HH:mm' }}</td>
            </ng-container>
            <ng-container matColumnDef="dateEdited">
                <th mat-header-cell *matHeaderCellDef>
                    {{ 'date.edited' | translate | capitalizeFirst }}
                </th>
                <td mat-cell *matCellDef="let row">{{ row.date_edited | date: 'dd-MM-yyyy HH:mm' }}</td>
            </ng-container>
            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef>
                    <button mat-button color="warn" (click)=delete() [disabled]="selection.selected.length < 1">
                        {{ 'delete.selected' | translate | capitalizeFirst }}
                    </button>
                </th>
                <td mat-cell *matCellDef="let row">
                    <button mat-button color="primary" (click)="edit(row.id)" [disabled]="!selection.isSelected(row)">Edit</button>
                    <button mat-button color="warn" (click)="delete(row.id)" [disabled]="!selection.isSelected(row)">Delete</button>
                </td>                
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator [length]="resultsLength" [pageSizeOptions]="[10, 25, 50, 100]" showFirstLastButtons></mat-paginator>
    </mat-card-content>
</mat-card>
